<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>airgril-avatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,1860},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,118}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>airgril-sp.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1762},{176,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,176}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>airgril.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{351,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{351,420}}</string>
                <key>sourceSize</key>
                <string>{351,420}</string>
            </dict>
            <key>blackbaby-avatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,1860},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,118}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>blackbaby-sp.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,1426},{176,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,176}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>blackbaby.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{339,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{339,420}}</string>
                <key>sourceSize</key>
                <string>{339,420}</string>
            </dict>
            <key>cutebaby-avatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,1740},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,118}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>cutebaby-sp.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,1248},{176,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,176}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>cutebaby.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,674},{287,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,420}}</string>
                <key>sourceSize</key>
                <string>{287,420}</string>
            </dict>
            <key>greeneye-avatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,1740},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,118}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>greeneye-sp.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,1070},{176,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,176}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>greeneye.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,355},{317,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,420}}</string>
                <key>sourceSize</key>
                <string>{317,420}</string>
            </dict>
            <key>japangril-avatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,1620},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,118}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>japangril-sp.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,892},{176,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,176}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>japangril.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,670},{299,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,420}}</string>
                <key>sourceSize</key>
                <string>{299,420}</string>
            </dict>
            <key>kingboy-avatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,1620},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,118}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>kingboy-sp.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,714},{176,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,176}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>kingboy.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,1234},{248,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,420}}</string>
                <key>sourceSize</key>
                <string>{248,420}</string>
            </dict>
            <key>longhairgril-avatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1500},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,118}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>longhairgril-sp.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,536},{176,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,176}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>longhairgril.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,963},{274,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,420}}</string>
                <key>sourceSize</key>
                <string>{274,420}</string>
            </dict>
            <key>oldman-avatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1620},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,118}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>oldman-sp.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,358},{176,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,176}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>oldman.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,971},{261,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,420}}</string>
                <key>sourceSize</key>
                <string>{261,420}</string>
            </dict>
            <key>pokerprince-avatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,1500},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,118}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>pokerprince-sp.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,180},{176,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,176}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>pokerprince.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,343},{325,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,420}}</string>
                <key>sourceSize</key>
                <string>{325,420}</string>
            </dict>
            <key>smallcat-avatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,1500},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,118}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>smallcat-sp.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,2},{176,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,176}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>smallcat.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,1484},{276,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,300}}</string>
                <key>sourceSize</key>
                <string>{276,300}</string>
            </dict>
            <key>startactor-avatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,1484},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,118}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>startactor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1239},{259,418}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{259,418}}</string>
                <key>sourceSize</key>
                <string>{259,420}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>actors.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f35e72c6889221631bc4b72d129000cb$</string>
            <key>textureFileName</key>
            <string>actors.png</string>
        </dict>
    </dict>
</plist>
