<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>art_one_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,336}</string>
                <key>spriteSourceSize</key>
                <string>{239,336}</string>
                <key>textureRect</key>
                <string>{{1,1},{239,336}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>art_one_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,336}</string>
                <key>spriteSourceSize</key>
                <string>{239,336}</string>
                <key>textureRect</key>
                <string>{{339,1},{239,336}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>art_one_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,336}</string>
                <key>spriteSourceSize</key>
                <string>{239,336}</string>
                <key>textureRect</key>
                <string>{{677,1},{239,336}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>art_one_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,336}</string>
                <key>spriteSourceSize</key>
                <string>{239,336}</string>
                <key>textureRect</key>
                <string>{{1015,1},{239,336}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>art_one_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,336}</string>
                <key>spriteSourceSize</key>
                <string>{239,336}</string>
                <key>textureRect</key>
                <string>{{1353,1},{239,336}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>art_one_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,336}</string>
                <key>spriteSourceSize</key>
                <string>{239,336}</string>
                <key>textureRect</key>
                <string>{{1691,1},{239,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>art_one_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,336}</string>
                <key>spriteSourceSize</key>
                <string>{239,336}</string>
                <key>textureRect</key>
                <string>{{1,242},{239,336}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>art_one_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,336}</string>
                <key>spriteSourceSize</key>
                <string>{239,336}</string>
                <key>textureRect</key>
                <string>{{339,242},{239,336}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>art_one_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,336}</string>
                <key>spriteSourceSize</key>
                <string>{239,336}</string>
                <key>textureRect</key>
                <string>{{677,242},{239,336}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>art_one_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,336}</string>
                <key>spriteSourceSize</key>
                <string>{239,336}</string>
                <key>textureRect</key>
                <string>{{1015,242},{239,336}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>art_one_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,336}</string>
                <key>spriteSourceSize</key>
                <string>{239,336}</string>
                <key>textureRect</key>
                <string>{{1353,242},{239,336}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>art_one_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,336}</string>
                <key>spriteSourceSize</key>
                <string>{239,336}</string>
                <key>textureRect</key>
                <string>{{1691,339},{239,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>art_one_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,336}</string>
                <key>spriteSourceSize</key>
                <string>{239,336}</string>
                <key>textureRect</key>
                <string>{{1,483},{239,336}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>art_one_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,336}</string>
                <key>spriteSourceSize</key>
                <string>{239,336}</string>
                <key>textureRect</key>
                <string>{{339,483},{239,336}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>art_one_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,336}</string>
                <key>spriteSourceSize</key>
                <string>{239,336}</string>
                <key>textureRect</key>
                <string>{{677,483},{239,336}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>art_one_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,336}</string>
                <key>spriteSourceSize</key>
                <string>{239,336}</string>
                <key>textureRect</key>
                <string>{{1015,483},{239,336}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>art_one_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,336}</string>
                <key>spriteSourceSize</key>
                <string>{239,336}</string>
                <key>textureRect</key>
                <string>{{1353,483},{239,336}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>art_one_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,336}</string>
                <key>spriteSourceSize</key>
                <string>{239,336}</string>
                <key>textureRect</key>
                <string>{{1,724},{239,336}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>art_one_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,336}</string>
                <key>spriteSourceSize</key>
                <string>{239,336}</string>
                <key>textureRect</key>
                <string>{{339,724},{239,336}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>art_one_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,336}</string>
                <key>spriteSourceSize</key>
                <string>{239,336}</string>
                <key>textureRect</key>
                <string>{{677,724},{239,336}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>art_one_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,336}</string>
                <key>spriteSourceSize</key>
                <string>{239,336}</string>
                <key>textureRect</key>
                <string>{{1015,724},{239,336}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>art_one_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,336}</string>
                <key>spriteSourceSize</key>
                <string>{239,336}</string>
                <key>textureRect</key>
                <string>{{1353,724},{239,336}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>art_one_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,336}</string>
                <key>spriteSourceSize</key>
                <string>{239,336}</string>
                <key>textureRect</key>
                <string>{{1691,677},{239,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>art_one_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,336}</string>
                <key>spriteSourceSize</key>
                <string>{239,336}</string>
                <key>textureRect</key>
                <string>{{1,965},{239,336}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>art_one_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,336}</string>
                <key>spriteSourceSize</key>
                <string>{239,336}</string>
                <key>textureRect</key>
                <string>{{339,965},{239,336}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>art_one_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,336}</string>
                <key>spriteSourceSize</key>
                <string>{239,336}</string>
                <key>textureRect</key>
                <string>{{677,965},{239,336}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>art_one_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,336}</string>
                <key>spriteSourceSize</key>
                <string>{239,336}</string>
                <key>textureRect</key>
                <string>{{1015,965},{239,336}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>art_one_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,336}</string>
                <key>spriteSourceSize</key>
                <string>{239,336}</string>
                <key>textureRect</key>
                <string>{{1353,965},{239,336}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>art_one_s.png</string>
            <key>size</key>
            <string>{1931,1205}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c1edb5c8928d4326b88df742fa54c6a9:8121ea3afbc87dd91186ecc0617f8b75:8b4a275c5b8334015c081932a043973a$</string>
            <key>textureFileName</key>
            <string>art_one_s.png</string>
        </dict>
    </dict>
</plist>
