<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bgbgbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{186,0},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>closebutton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{236,0},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>complate.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{90,0},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>getget.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,61}</string>
                <key>spriteSourceSize</key>
                <string>{118,61}</string>
                <key>textureRect</key>
                <string>{{376,0},{118,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gift.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,86}</string>
                <key>spriteSourceSize</key>
                <string>{80,86}</string>
                <key>textureRect</key>
                <string>{{296,0},{80,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{138,0},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gosure.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,61}</string>
                <key>spriteSourceSize</key>
                <string>{118,61}</string>
                <key>textureRect</key>
                <string>{{494,0},{118,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lightblingsmall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,159}</string>
                <key>spriteSourceSize</key>
                <string>{156,159}</string>
                <key>textureRect</key>
                <string>{{236,118},{156,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>onegame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,118}</string>
                <key>spriteSourceSize</key>
                <string>{118,118}</string>
                <key>textureRect</key>
                <string>{{612,0},{118,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,118}</string>
                <key>spriteSourceSize</key>
                <string>{118,118}</string>
                <key>textureRect</key>
                <string>{{730,0},{118,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>purbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{620,960}</string>
                <key>spriteSourceSize</key>
                <string>{620,960}</string>
                <key>textureRect</key>
                <string>{{392,118},{620,960}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sixgames.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,118}</string>
                <key>spriteSourceSize</key>
                <string>{118,118}</string>
                <key>textureRect</key>
                <string>{{848,0},{118,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>suipian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,45}</string>
                <key>spriteSourceSize</key>
                <string>{45,45}</string>
                <key>textureRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>suipian2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,45}</string>
                <key>spriteSourceSize</key>
                <string>{45,45}</string>
                <key>textureRect</key>
                <string>{{45,0},{45,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>threewin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,118}</string>
                <key>spriteSourceSize</key>
                <string>{118,118}</string>
                <key>textureRect</key>
                <string>{{0,118},{118,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yesyes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,61}</string>
                <key>spriteSourceSize</key>
                <string>{118,61}</string>
                <key>textureRect</key>
                <string>{{118,118},{118,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>daytext.png</string>
            <key>size</key>
            <string>{1012,1078}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7eb5e59a565e8cd55b16f7bd7d5b84ac:46bbad2c7745757839f74cc84e5c53f2:599cf834c9ad3c37077ebb377cce815d$</string>
            <key>textureFileName</key>
            <string>daytext.png</string>
        </dict>
    </dict>
</plist>
