<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,69}</string>
                <key>spriteSourceSize</key>
                <string>{73,69}</string>
                <key>textureRect</key>
                <string>{{80,0},{73,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grayback.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{576,810}</string>
                <key>spriteSourceSize</key>
                <string>{576,810}</string>
                <key>textureRect</key>
                <string>{{0,155},{576,810}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>myhead.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,155}</string>
                <key>spriteSourceSize</key>
                <string>{132,155}</string>
                <key>textureRect</key>
                <string>{{153,0},{132,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nextgame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,92}</string>
                <key>spriteSourceSize</key>
                <string>{240,92}</string>
                <key>textureRect</key>
                <string>{{417,0},{240,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pokerbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{576,810}</string>
                <key>spriteSourceSize</key>
                <string>{576,810}</string>
                <key>textureRect</key>
                <string>{{0,965},{576,810}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>whiteheart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,57}</string>
                <key>spriteSourceSize</key>
                <string>{50,57}</string>
                <key>textureRect</key>
                <string>{{30,0},{50,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>winalot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,40}</string>
                <key>spriteSourceSize</key>
                <string>{132,40}</string>
                <key>textureRect</key>
                <string>{{285,0},{132,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,26}</string>
                <key>spriteSourceSize</key>
                <string>{30,26}</string>
                <key>textureRect</key>
                <string>{{0,0},{30,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>endgame.png</string>
            <key>size</key>
            <string>{657,1775}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:81281233bfeab148bfc41bc1315f2694:31cae62bca5fe8a68fe2416701b145c3:4c0f37268a8c11395bf4a57d352f1716$</string>
            <key>textureFileName</key>
            <string>endgame.png</string>
        </dict>
    </dict>
</plist>
