<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>artpoker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{285,266}</string>
                <key>spriteSourceSize</key>
                <string>{285,266}</string>
                <key>textureRect</key>
                <string>{{0,0},{285,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bigbutton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,92}</string>
                <key>spriteSourceSize</key>
                <string>{240,92}</string>
                <key>textureRect</key>
                <string>{{0,266},{240,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blackplus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,4}</string>
                <key>spriteSourceSize</key>
                <string>{4,4}</string>
                <key>textureRect</key>
                <string>{{240,266},{4,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lotgold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{377,147}</string>
                <key>spriteSourceSize</key>
                <string>{377,147}</string>
                <key>textureRect</key>
                <string>{{0,358},{377,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mansuipian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,177}</string>
                <key>spriteSourceSize</key>
                <string>{177,177}</string>
                <key>textureRect</key>
                <string>{{0,505},{177,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pokersuipian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,177}</string>
                <key>spriteSourceSize</key>
                <string>{177,177}</string>
                <key>textureRect</key>
                <string>{{177,505},{177,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>somegold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,153}</string>
                <key>spriteSourceSize</key>
                <string>{196,153}</string>
                <key>textureRect</key>
                <string>{{0,682},{196,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>getthing.png</string>
            <key>size</key>
            <string>{377,835}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ef071ea33f00fa6223718fb2b8810483:2ebb2c25c00e5d60aa75bb08fd8be624:07106b7bac7dc03f61f1bc888943728b$</string>
            <key>textureFileName</key>
            <string>getthing.png</string>
        </dict>
    </dict>
</plist>
