<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>public_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1739,484},{239,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,336}}</string>
                <key>sourceSize</key>
                <string>{239,336}</string>
            </dict>
            <key>public_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1401,484},{239,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,336}}</string>
                <key>sourceSize</key>
                <string>{239,336}</string>
            </dict>
            <key>public_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1063,484},{239,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,336}}</string>
                <key>sourceSize</key>
                <string>{239,336}</string>
            </dict>
            <key>public_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,484},{239,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,336}}</string>
                <key>sourceSize</key>
                <string>{239,336}</string>
            </dict>
            <key>public_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,1498},{239,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,336}}</string>
                <key>sourceSize</key>
                <string>{239,336}</string>
            </dict>
            <key>public_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,1160},{239,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,336}}</string>
                <key>sourceSize</key>
                <string>{239,336}</string>
            </dict>
            <key>public_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,822},{239,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,336}}</string>
                <key>sourceSize</key>
                <string>{239,336}</string>
            </dict>
            <key>public_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,484},{239,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,336}}</string>
                <key>sourceSize</key>
                <string>{239,336}</string>
            </dict>
            <key>public_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1498,243},{239,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,336}}</string>
                <key>sourceSize</key>
                <string>{239,336}</string>
            </dict>
            <key>public_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,243},{239,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,336}}</string>
                <key>sourceSize</key>
                <string>{239,336}</string>
            </dict>
            <key>public_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,243},{239,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,336}}</string>
                <key>sourceSize</key>
                <string>{239,336}</string>
            </dict>
            <key>public_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,243},{239,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,336}}</string>
                <key>sourceSize</key>
                <string>{239,336}</string>
            </dict>
            <key>public_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,1595},{239,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,336}}</string>
                <key>sourceSize</key>
                <string>{239,336}</string>
            </dict>
            <key>public_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,1257},{239,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,336}}</string>
                <key>sourceSize</key>
                <string>{239,336}</string>
            </dict>
            <key>public_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,919},{239,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,336}}</string>
                <key>sourceSize</key>
                <string>{239,336}</string>
            </dict>
            <key>public_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,581},{239,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,336}}</string>
                <key>sourceSize</key>
                <string>{239,336}</string>
            </dict>
            <key>public_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,243},{239,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,336}}</string>
                <key>sourceSize</key>
                <string>{239,336}</string>
            </dict>
            <key>public_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1595,2},{239,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,336}}</string>
                <key>sourceSize</key>
                <string>{239,336}</string>
            </dict>
            <key>public_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1257,2},{239,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,336}}</string>
                <key>sourceSize</key>
                <string>{239,336}</string>
            </dict>
            <key>public_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,2},{239,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,336}}</string>
                <key>sourceSize</key>
                <string>{239,336}</string>
            </dict>
            <key>public_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,2},{239,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,336}}</string>
                <key>sourceSize</key>
                <string>{239,336}</string>
            </dict>
            <key>public_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,2},{239,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,336}}</string>
                <key>sourceSize</key>
                <string>{239,336}</string>
            </dict>
            <key>public_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1692},{239,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,336}}</string>
                <key>sourceSize</key>
                <string>{239,336}</string>
            </dict>
            <key>public_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1354},{239,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,336}}</string>
                <key>sourceSize</key>
                <string>{239,336}</string>
            </dict>
            <key>public_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1016},{239,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,336}}</string>
                <key>sourceSize</key>
                <string>{239,336}</string>
            </dict>
            <key>public_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,678},{239,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,336}}</string>
                <key>sourceSize</key>
                <string>{239,336}</string>
            </dict>
            <key>public_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{239,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,336}}</string>
                <key>sourceSize</key>
                <string>{239,336}</string>
            </dict>
            <key>public_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{239,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,336}}</string>
                <key>sourceSize</key>
                <string>{239,336}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>poker-public-s.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2dd83fb957eb6ec669a845b74a970033$</string>
            <key>textureFileName</key>
            <string>poker-public-s.png</string>
        </dict>
    </dict>
</plist>
