<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>halfpurbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{576,405}</string>
                <key>spriteSourceSize</key>
                <string>{576,405}</string>
                <key>textureRect</key>
                <string>{{0,0},{576,405}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>halfyellowbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{576,405}</string>
                <key>spriteSourceSize</key>
                <string>{576,405}</string>
                <key>textureRect</key>
                <string>{{576,0},{576,405}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>midwhite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{1152,0},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rankclose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{1162,0},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smallgray.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,4}</string>
                <key>spriteSourceSize</key>
                <string>{4,4}</string>
                <key>textureRect</key>
                <string>{{1234,0},{4,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smallwhite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,4}</string>
                <key>spriteSourceSize</key>
                <string>{4,4}</string>
                <key>textureRect</key>
                <string>{{1238,0},{4,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vshead.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,155}</string>
                <key>spriteSourceSize</key>
                <string>{132,155}</string>
                <key>textureRect</key>
                <string>{{1242,0},{132,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>rankimg.png</string>
            <key>size</key>
            <string>{1374,405}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5dfeec8667527b0c1285533493524faf:3bffd5b018d898ab435df36615988b77:561c909a96340fb83376c8dcdaf66427$</string>
            <key>textureFileName</key>
            <string>rankimg.png</string>
        </dict>
    </dict>
</plist>
