<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>art-two-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,675},{249,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,120}}</string>
                <key>sourceSize</key>
                <string>{249,120}</string>
            </dict>
            <key>gray20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,972},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>greenture.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,2},{93,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,81}}</string>
                <key>sourceSize</key>
                <string>{93,81}</string>
            </dict>
            <key>gril.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,2},{174,367}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,367}}</string>
                <key>sourceSize</key>
                <string>{174,367}</string>
            </dict>
            <key>massage.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,85},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>purmidbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,325},{348,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,164}}</string>
                <key>sourceSize</key>
                <string>{348,164}</string>
            </dict>
            <key>pursmallbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,491},{164,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,164}}</string>
                <key>sourceSize</key>
                <string>{164,164}</string>
            </dict>
            <key>sevenday.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{539,155}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{539,155}}</string>
                <key>sourceSize</key>
                <string>{547,159}</string>
            </dict>
            <key>thefirstman.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,85},{260,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,68}}</string>
                <key>sourceSize</key>
                <string>{260,68}</string>
            </dict>
            <key>white20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,926},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>yellowbigbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,159},{532,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{532,164}}</string>
                <key>sourceSize</key>
                <string>{532,164}</string>
            </dict>
            <key>yellowmidlbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,178},{348,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,164}}</string>
                <key>sourceSize</key>
                <string>{348,164}</string>
            </dict>
            <key>yellowshubg.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,325},{164,348}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,348}}</string>
                <key>sourceSize</key>
                <string>{164,348}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sevenday.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7579fde79e1720b53f6aef3e07c220b0$</string>
            <key>textureFileName</key>
            <string>sevenday.png</string>
        </dict>
    </dict>
</plist>
