<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>closebut.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nosure.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,60}</string>
                <key>spriteSourceSize</key>
                <string>{148,60}</string>
                <key>textureRect</key>
                <string>{{92,0},{148,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pertipbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{82,82}</string>
                <key>textureRect</key>
                <string>{{148,60},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sure.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,60}</string>
                <key>spriteSourceSize</key>
                <string>{148,60}</string>
                <key>textureRect</key>
                <string>{{0,60},{148,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>whiteripbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{42,0},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tipone.png</string>
            <key>size</key>
            <string>{240,142}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9aeb2327bc3a0542d7ec3950fc53bbfb:08cdba6268e09234b11203f7fc723744:170c319f09cd28529919e6216378de6c$</string>
            <key>textureFileName</key>
            <string>tipone.png</string>
        </dict>
    </dict>
</plist>
